@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bintainer</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/dashboard-layout.css" rel="stylesheet " asp-append-version="true">
@*     <link rel="stylesheet" href="~/Bintainer.WebApp.styles.css" asp-append-version="true" /> *@
    
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/lib/animate/animate.min.css" rel="stylesheet">
    
</head>
<body>
    
    <div class="sidebar">
        <a class="@(Context.Request.Path == "/Index" ? "active" : "")" href="/Index"><i class="fa fa-home"></i>&nbsp;Home</a>
       
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="@(Context.Request.Path == "/dashboard/dashboard" ? "active" : "")" href="/dashboard/dashboard">Part</a>
            <a class="@(Context.Request.Path == "/contact" ? "active" : "")" href="/contact">Inventory</a>
            <a class="@(Context.Request.Path == "/about" ? "active" : "")" href="/about">Order</a>
            <a class="@(Context.Request.Path == "/contact" ? "active" : "")" href="/contact">Inventory</a>
            <a class="@(Context.Request.Path == "/about" ? "active" : "")" href="/about">Order</a>
            <a class="@(Context.Request.Path == "/Identity/Account/Logout" ? "active" : "")" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })">Logout</a>
        }
        else
        {
            <a class="@(Context.Request.Path == "/Identity/Account/Login" ? "active" : "")" asp-area="Identity" asp-page="/Account/Login">Login</a>
        }        
    </div>


    <div class="content">
        <div class="container">
            @RenderBody()
@*             <main role="main" class="pb-3">
                
            </main> *@
        </div>
    </div>
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/searchabledropdown.js"></script>
    <script src="~/js/dynamictable.js"></script>
    <script src="~/js/autocomplete.js"></script>
    <script>
        const sidebarLinks = document.querySelectorAll('.sidebar a');
        sidebarLinks.forEach(link => {
            link.addEventListener('click', function () {
                sidebarLinks.forEach(link => {
                    link.classList.remove('active');
                });
                this.classList.add('active');
            });
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>